<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Third Page</h1>
    <!-- 서버에서 데이터를 파일과 같이 데이터를 실어서 유저에게 전달
        { name : value, phone : value} -->
    <p><%=name%></p>
    <p><%=phone%></p>
    
</body>
</html>